.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.15);
}

.time-title {
  font-size: 1.3rem;
}

.time-info {
  font-size: 1.2rem;
  color: #333;
}
