.attraction-container {
  display: flex;
  gap: 1.5rem;
}

.attraction-card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 15%;

  & > * {
    flex: 1;
  }
}

.attraction-tables-container {
  display: flex;
  gap: 1.5rem;
  width: 85%;

  & > * {
    flex: 1 1 48%;
    min-width: 300px;
  }
}

@media (max-width: 1240px) {
  .attraction-container {
    flex-wrap: wrap;
  }

  .attraction-card-container {
    width: 100%;
    flex-direction: row;
  }

  .attraction-tables-container {
    width: 100%;
    flex-direction: column;
    & > * {
      flex: 1 1 100%;
    }
  }
}
