.attraction-container {
  display: flex;
  gap: 1.5rem;
}

.attraction-card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 15%;

  & > * {
    flex: 1;
  }
}

.attraction-tables-container {
  display: flex;
  gap: 1.5rem;
  width: 85%;

  & > * {
    flex: 1 1 100%;
  }
}
