.layout-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .layout-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
}