.table-container {
  overflow-x: auto;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
}

.table-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
}
