.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.table-header {
  background-color: rgba(6, 177, 245, 0.116);
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid rgba(6, 177, 245, 0.445);
}

.table-cell {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.table-img {
  width: 70px;
  height: 90px;
  object-fit: cover;
}

.table tr:nth-child(even) {
  background-color: rgba(173, 173, 173, 0.1);
}
